* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(140deg,#B80C09 , #0B4F6C  , #F18F01 );;
}

h1{
    text-align: center;
    font-size: 50px;
}

.container {
    height: 100vh;
    width: 100%;
}

button {
    font-size: x-large;
    font-weight: bold;
    padding: auto;
    margin: 6px;
    padding: 3px;
    background: rgba( 228, 214, 214, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button:active {
    transform: scale(0.95);
    transition: transform .2s;
}

#moves,#number {
    font-size: xx-large;
}

.card-container{
    display: grid;
    height: 90%;
    min-width: none;
    max-width: 785px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    text-align: center;
    grid-gap: 8px;
    margin: auto;
    padding: 8px;
    margin-top: 10px;
    background: rgba( 228, 214, 214, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    
}

.card{
    visibility: visible;
    background: transparent;
    border-radius: 8px;
    transition: all .4s;
    transform-style: preserve-3d;
    transform: scale(1);
}

.card:active {
    transform: scale(0.9);
    transition: transform .2s;
}

.card-flip {
    transform: rotateY(180deg);
}

.card-flip:active {
    transform: rotateY(180deg) scale(0.9);
    transition: transform .2s;
}

.back-face,
.front-face {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(65, 65, 66, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background: transparent;
}

.front-face {
    transform: rotateY(180deg);
}

@media screen and (max-width: 500px) {
    .card-container {
        height: 400px;
        margin: 8px;
    }
}

@media screen and (max-height: 670px) {
    .card-container {
        height: 350px;
        margin: 8px;
    }
}

/* @media screen and (min-width: 1000px) {
    .card-container {
        max-width: 90%;
    }
} */