@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
.App {
  text-align: center;
  height: 100vh;
}
.form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.form input {
  padding: 0px 10px;
}

.form button {
  margin: 0px 10px;
}

.card {
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

.card img {
  width: 35%;
  margin-top: 27px;
}

.card .place {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0.8;
  margin: 10px 0;
  margin-top: 5px;
}

.card .desc {
  font-size: 0.9rem;
}

.card .temperature {
  font-size: 4rem;
  margin-left: 20px;
  font-weight: 550;
}

.data-container {
  margin: 20px 0;
}

.data-container .box {
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

.data-container .title {
  font-size: 0.8rem;
}

.data-container .data {
  font-size: 1.5rem;
  font-weight: 550;
}

.data-container .data .unit {
  font-size: 0.8rem;
  font-weight: 500;
}
