<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day 1 and 2/home.html" target="_blank" rel="noopener noreferrer"><h2>Day 1 and 2</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%203/resume.html" target="_blank" rel="noopener noreferrer"><h2>Day 3</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%204/clock.html" target="_blank" rel="noopener noreferrer"><h2>Day 4</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%205/calc.html" target="_blank" rel="noopener noreferrer"><h2>Day 5</h2></a>
        <a href="https://github.com/SufyaanKhateeb/Learning-Web-Dev/blob/master/Frontend/Day%206/arrays.js" target="_blank" rel="noopener noreferrer"><h2>Day 6</h2></a>
        <a href="https://github.com/SufyaanKhateeb/Learning-Web-Dev/blob/master/Frontend/Day%207/objects.js" target="_blank" rel="noopener noreferrer"><h2>Day 7</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%208/day8.html" target="_blank" rel="noopener noreferrer"><h2>Day 8</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%209/seats.html" target="_blank" rel="noopener noreferrer"><h2>Day 9</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%2010/memorygame.html" target="_blank" rel="noopener noreferrer"><h2>Day 10</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%2011/quiz.html" target="_blank" rel="noopener noreferrer"><h2>Day 11</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%2012/todolist.html" target="_blank" rel="noopener noreferrer"><h2>Day 12</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%2013/fetch.html" target="_blank" rel="noopener noreferrer"><h2>Day 13</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%2014/eventlistener.html" target="_blank" rel="noopener noreferrer"><h2>Day 14</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/Day%2015/helloworld.html" target="_blank" rel="noopener noreferrer"><h2>Day 15</h2></a>
        <a href="https://memecardtha.netlify.app" target="_blank" rel="noopener noreferrer"><h2>Day 16</h2></a>
        <a href="https://calorietha.netlify.app" target="_blank" rel="noopener noreferrer"><h2>Day 17</h2></a>
        <a href="https://chesspattern.netlify.app" target="_blank" rel="noopener noreferrer"><h2>Day 18</h2></a>
        <a href="https://countertha.netlify.app" target="_blank" rel="noopener noreferrer"><h2>Day 19</h2></a>
        <a href="https://caloriedeletetha.netlify.app" target="_blank" rel="noopener noreferrer"><h2>Day 20</h2></a>
        <a href="https://calorietrackertha.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 21</h2></a>
        <a href="https://mememakertha.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 22</h2></a>
        <a href="https://heuristic-fermi-44ba9f.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 23</h2></a>
        <a href="https://mystifying-euclid-31e5f6.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 24</h2></a>
        <a href="https://reverent-fermat-76448d.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 25</h2></a>
        <a href="https://hardcore-mcnulty-470982.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 26</h2></a>
        <a href="https://dazzling-kirch-5f8292.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 27</h2></a>
        <a href="https://quizzical-wozniak-b7bf0b.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 28</h2></a>
        <a href="https://cranky-torvalds-998323.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 29</h2></a>
        <a href="https://flamboyant-allen-4758a1.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 30 and 31</h2></a>
        <a href="https://eager-lumiere-633236.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 32</h2></a>
        <a href="https://affectionate-shirley-9079f1.netlify.app/" target="_blank" rel="noopener noreferrer"><h2>Day 33 and 34</h2></a>
        <a href="https://sufyaankhateeb.github.io/Learning-Web-Dev/Frontend/other/payment_form.html" target="_blank" rel="noopener noreferrer"><h2>Other - payment_form</h2></a>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
